.home {
    font-family: "Exo 2", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}